<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="QueryLayer.Properties.Settings.EPRTRwebConnectionString" connectionString="Data Source=SDKCGA6302;Initial Catalog=EPRTRweb;User ID=sa;Password=tmggis"
		 providerName="System.Data.SqlClient" />
		<add name="QueryLayer.Properties.Settings.EPRTRcmsConnectionString" connectionString="Data Source=SDKCGA6302;Initial Catalog=EPRTRcms;User ID=sa;Password=tmggis"
		 providerName="System.Data.SqlClient" />
		<add name="QueryLayer.Properties.Settings.EPRTRresourceConnectionString" connectionString="Data Source=SDKCGA6302;Initial Catalog=EPRTRcms;User ID=sa;Password=tmggis"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>