<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QueryLayer.Properties.Settings.EPRTRcmsConnectionString"
            connectionString="Data Source=OIZ;Initial Catalog=EPRTRcms;User ID=eper;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRwebConnectionString"
            connectionString="Data Source=OIZ;Initial Catalog=EPRTRweb;User ID=eper;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRresourceConnectionString"
            connectionString="Data Source=OIZ;Initial Catalog=EPRTRcms;User ID=eper;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRwebConnectionString1"
            connectionString="Data Source=sdkcga6302;Initial Catalog=EPRTRweb;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>