/*----------------------------------------------------------*/
/*-- The news are not presented correctly in IE version 7 --*/
/*-- These styles will fix this                           --*/
/*----------------------------------------------------------*/

#timeStamp
{
    margin-top:-10px;
}


#topNews
{
    margin-top:40px;
}

/*inline-block hack: first trigger hasLayout by zoom, then set display:inline*/
.newsImage
{
	zoom:1;
	display:inline;
}