/* Master page
-------------------------------------------------------------- */
/*inline-block hack: first trigger hasLayout by zoom, then set display:inline*/
.langSelector
{   
    top:-26px;
    left:-100px;
    position: relative;
	zoom:1;
	display:inline;
}

.langDropPanelClass
{
	left:-100px;
	position: relative;
}
