<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QueryLayer.Properties.Settings.EPRTRcmsConnectionString"
            connectionString="Data Source=192.168.1.221;Initial Catalog=EPRTRcms;User ID=sa;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRwebConnectionString"
            connectionString="Data Source=192.168.1.221;Initial Catalog=EPRTRpublic;User ID=sa;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRresourceConnectionString"
            connectionString="Data Source=192.168.1.221;Initial Catalog=EPRTRcms;User ID=sa;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRwebConnectionString1"
            connectionString="Data Source=192.168.1.221;Initial Catalog=EPRTRweb;User ID=sa;Password=saretex1"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRcmsConnectionString1"
            connectionString="Data Source=192.168.1.221;Initial Catalog=EPRTRcms;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRpublicConnectionString"
            connectionString="Data Source=MATIKO;Initial Catalog=EPRTRpublic;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="QueryLayer.Properties.Settings.EPRTRpublicConnectionString1"
            connectionString="Data Source=MATIKO;Initial Catalog=EPRTRpublic;User ID=sa;Password=saretex1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>