
#TreeViewDisplay
{
	width: 300px;
	background-color: transparent;
	float: left;
	display: inline-block;
	height: 100%;
	padding-right:20px
}


#EditorStyle
{
	width: 480px;
	float: left;
	clear: none;
	padding-top: 5px;
}

#EditorHelpTextDisplay
{
	width: 600px;
	float: left;
	clear: none;
	padding-top: 5px;
}

#SubmitButtonStyle
{
	float: left;
	clear: none;
	padding-right: 5px;
}

/* News */

#NewsListDisplay
{
	/*border: solid 1px black;*/
	
	width: 300px;
	float: left;
	clear: none;
	padding-right:20px;
}

.NewsEditorFuncDisplay
{
	width: 480px;
	float: left;
	clear: none;
}

#NewsEditorDisplay
{
	clear:both;	
}

.floatRight
{
	float:right;
	vertical-align:middle;
}