#header {
	border: solid 1px #999;
	height: 80px;
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

#title {
	color: #fff;
	font-size: 24pt;
	font-weight: bolder;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	padding-top: 10px;
	padding-left: 15px;
}

#subtitle {
	font-size: 12pt;
	color: #ccc;
	padding-left: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}

#leftPane {
	border-left: solid 1px #999;
	padding: 5px;
	font-size: 11pt;
	color: #333;
}


#map {
	border-left: solid 1px #999;
	border-right: solid 1px #999;
	height: 100%;
	width: 100% !important;
	padding: 0px;
}
 #search {
        display: block;
        position: absolute;
        z-index: 2;
        top: 63px;
        left: 74px;
      }
#LocateButton {
      position: absolute;
      top: 140px;
      left: 19px;
      z-index: 50;	  
    }

.loader {
	position: absolute;
	top: 50%;
	right: 50%;
	z-index: 100;
	display: none;
}

.esriPopup .sizer{
	width:auto !important;
	min-width: 270px;
}

.esriBookmarkItem{
  cursor:pointer;
}
.esriBookmarkItem:hover{
  background-color:#CEE1EC;
}
#bookmarkView{
  width: 100%;
  max-height: 448px;
  z-index: 1;
  overflow: auto !important;
  background-color: #fff;
  border: 1px solid #ccc;
}

.popupcontainer {
	position: absolute;
	right: 0px;
	bottom: 0px;
	margin: 0px;
	margin-bottom: 30px;
	z-index: 101;
	width: 100%;
	height: 270px;
}
#info {
	visibility: hidden;
	height: 285px;
}
#popupDiv .esriPopup, #popupDiv .esriPopupWrapper {
	left: 0px !important;
	top: 0px !important;
	width: 100%;
}
#popupDiv .sizer {
	width: 100%;
}
#popupDiv .outerPointer, #popupDiv .pointer, #popupDiv .actionList, #popupDiv .maximize {
	display: none;
}
#popupDiv .titlePane, #popupDiv .actionsPane {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	-o-border-radius: 0px;
}
#popupDiv .contentPane {
	height: 260px !important;
	padding-bottom: 0px;
}
.mobile #header {
	height: 30px;
	overflow: hidden;
	text-align: center;
	padding-right: 10px;
}
.mobile #title {
	display: block;
	padding: 0;
	min-height: 1.1em;
	margin: 0.6em 30% 0.8em;
	outline: 0 none !important;
	font-size: 16px;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
	overflow: hidden;
	color: #fff;
}
.mobile #leftPane {
	background-color: #fff;
	height: 100%;
	overflow: auto;
	position: absolute;
	width: 100%;
	z-index: 100;
	display: none;
}

.headerButton {
	position: absolute;
	top: 3px;
	left: 2px;
	-moz-box-shadow: 0px 1px 1px -18px #999999;
	-webkit-box-shadow: 0px 1px 1px -18px #999999;
	box-shadow: 0px 1px 1px -18px #999999;
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #45484d), color-stop(1, #000000) );
	background: -moz-linear-gradient( center top, #45484d 5%, #000000 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000');
	background-color: #45484d;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #4c4c4c;
	color: #fff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 6px;
	text-decoration: none;
	cursor: pointer;
}
.headerButton:hover {
	background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #45484d) );
	background: -moz-linear-gradient( center top, #000000 5%, #45484d 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#45484d');
	background-color: #000000;
}
.headerButton:active {
	position: relative;
	top: 1px;
}


/*
legend {
	background: none repeat scroll 0 0 transparent;
	color: #003366;
	font-size: 1.3 em;
	font-weight: bold;
	margin: .5em 0;
	padding: 0 0.5 em;
}
*/

.instructions {
	margin: .5em 0;
	color: #999;
}
#container {
	margin: 0 auto;
	padding: 1em;
	text-align: left;
	position: relative;
}
.filter {
	padding: 1em .5em;
	display: block;
}
.selectedFilter {
	border: solid 1px #BBFFFF;
}
/*
label {
	float: left;
	padding: 0 .5em .4em .5em;
	width: 100px;
}
*/
.hint {
	font-style: italic;
	font-size: 9pt;
	width: 100%;
	padding: 0 .5em .4em .5em;
	text-align: left;
	float: left;
	color: #999;
}
.row {
	float: right;
	padding-bottom: 10px;
	text-align: left;
	width: 150px;
}
.clearBoth {
	width: 100%;
	height: 1px;
	margin: 0 0 -1px;
	clear: both;
}
/*
input {
	border-color: #555;
	border-style: solid;
	border-width: 1px;
	color: #333;
	padding: 1px;
	width: 150px;
}
*/
.submitButton {
	background: none repeat scroll 0 0 #555555;
	border: 1px solid #333333;
	color: #FFFFFF;
	font-size: 100%;
	padding: 2px;
	cursor: pointer;
}
.submitButton:hover {
	border: 1px solid #999;
}
.esriMobileNavigationBar {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}
.esriPopupMobile .titlePane {
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

/*
select {
	max-width: 150px;
}
*/

.shadow {
	-webkit-box-shadow: 4px 4px 8px #adadad;
	-moz-box-shadow: 4px 4px 8px #adadad;
	-o-box-shadow: 4px 4px 8px #adadad;
	box-shadow: 4px 4px 8px #adadad;
}
.roundedCorners {
	-o-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

 .esriBasemapIcon {
  background-image: url(../images/Basemap16.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 4px 0 4px 4px;
}

 .esriLegendIcon {
  background-image: url(../images/Legend16.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin: 4px 0 4px 4px;
}
.esriLayerIcon{
  background-image:url(../images/contents.png);
  background-repeat:no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  margin:4px 0 4px 4px;
}
.esriPrint .dijitComboButton .dijitIcon{
  background-image:url(../images/genericprint.png);
  background-repeat:no-repeat;
  display:inline-block;
  height:16px;
  width:16px; 
  
}
.esriPrintIcon{
  background-image:url(../images/genericprint.png);
  background-repeat:no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  margin:4px 0 4px 4px;
}
.esriPrint{
  display:inline-block;
  padding:0px !important;
  height:20px;
  
}

.esriBookmarkIcon{
  background-image:url(../images/bookmarks.png);
  background-repeat:no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  margin: 4px 0 4px 4px;
}

.esriSearchIcon{
  background-image:url(../images/i_search.png);
  background-repeat:no-repeat;
  display:inline-block;
  height:16px;
  width:16px;
  margin: 4px 0 4px 4px;
}
.esriPointIcon{
 background-image:url(../images/i_draw_point.png);
  background-repeat:no-repeat; 
 height:40px;
  width:40px;  
}
.esriPolygonIcon{
 background-image:url(../images/i_draw_poly.png);
  background-repeat:no-repeat; 
 height:40px;
  width:40px;  
}
.esriRectangleIcon{
 background-image:url(../images/i_draw_rect.png);
  background-repeat:no-repeat; 
 height:40px;
  width:40px;  
}
.esriClear{
 background-image:url(../images/i_clear.png);
  background-repeat:no-repeat; 
 height:40px;
  width:40px; 
}
.dijitMenuItemIcon {
	width: 40px;
}
.headerContainer{

 background:url(../images/gray/toolbar_bg.png) repeat #545454

}
 .claro .dijitDropDownButton .dijitButtonNode,  .claro .dijitToggleButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode{
padding: 4px !important;
font-size: 12px;
color: #FFFFFF !important;
background-color: #000000 !important;
}

#floater {
   overflow:hidden;
   background-color:#fff;
   border: solid 1px #999;
   border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius: 3px; 
  padding:0px !important;
  top: 40px !important;
  left: 275px !important;
  height: 372px !important;
} 
.dojoxFloatingPaneContent{
  font-family:"helvetica neue", helvetica, arial, sans-serif;
  font-size:8pt;
  font-weight:bold;
  padding-bottom:4px;
}
.dojoxFloatingPaneTitle{
  color:#fff;
  font-family:"helvetica neue", helvetica, arial, sans-serif;
  font-size:12pt;
  font-weight:bold;
  width:100%;
  padding-left:8px;
  background-color: grey;
}
#basemapDiv .dijitTitlePaneTitle{
       background-color:black;
       color:white;
       border-radius: 4px;
       -moz-border-radius: 4px;
       -webkit-border-radius:4px;
       -o-border-radius: 4px;
       border: 1px solid #759dc0;
       background-image: none;
}
.claro .dijitTitlePaneTextNode {
  	background-image:url(../images/Basemap16.png);
  	background-repeat:no-repeat;
  	display:inline-block;
	padding-left: 19px;
	font-size: 12px;
}
.claro .dijitButton .dijitButtonNode, .claro .dijitDropDownButton .dijitButtonNode, .claro .dijitComboButton .dijitButtonNode, .claro .dijitToggleButton .dijitButtonNode
{
    background-image: none !important;
}
.claro .dijitButtonActive .dijitButtonNode, .claro .dijitDropDownButtonActive .dijitButtonNode, .claro .dijitComboButtonActive .dijitButtonNode, .claro .dijitToggleButtonActive .dijitButtonNode, .claro .dijitToggleButtonChecked .dijitButtonNode
{
    background-image: none !important;
}
.dijitBorderContainer-child {
border: none !important;
}
