<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SitemapConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="QueryLayer.Properties.Settings.EPRTRcmsConnectionString" connectionString="Data Source=OIZ;Initial Catalog=EPRTRcms;User ID=sa;Password=hellfire" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <userSettings>
        <SitemapConverter.Properties.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DomainName" serializeAs="String">
                <value>prtr.ec.europa.eu</value>
            </setting>
            <setting name="AspNetSitemap" serializeAs="String">
                <value>.\EPRTRweb\Web.sitemap</value>
            </setting>
            <setting name="GoogleSitemap" serializeAs="String">
                <value>.\EPRTRweb\sitemap.xml</value>
            </setting>
        </SitemapConverter.Properties.Settings>
    </userSettings>
</configuration>