<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="sorConnectionString"
            connectionString="Data Source=SDKCGA6302.rdg.bane.dk;Initial Catalog=EPRTRweb;User ID=sa;Password=tmggis"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>